<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"><head>
    <meta charset="UTF-8">
    <title>Show all users</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.1.3/css/bootstrap.min.css}"/>
    <!--<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet" crossorigin="anonymous">-->
</head>
<body style="background-color: lightslategrey">
<h1 class="text-white">User list</h1>
<h2 class="text-white">Manage all users</h2>
<div>
    <a th:href="@{/signup}" class="btn btn-warning btn-sm mb3">
        Add user
    </a>
    <a th:href="@{user/delete}" class="btn btn-danger btn-sm mb3"
       onclick="if ( !(confirm('Are you sure you want to delete all users?'))) return false">
        Delete all users
    </a>
</div>
<div class="container">
    <table class="table table-bordered border-dark">
        <thead>
        <tr>
            <th scope="col"> Id </th>
            <th scope="col"> Name </th>
            <th scope="col"> Email </th>
            <th scope="col"> Password </th>
            <th scope="col"> Licence Nr </th>
            <th scope="col"> Phone Nr </th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${userList}"
            scope="row">
            <td><span th:text="${user.id}"> Id </span></td>
            <td><span th:text="${user.name}"> Name </span></td>
            <td><span th:text="${user.email}"> email </span></td>
            <td><span th:text="${user.password}"> password </span></td>
            <td><span th:text="${user.licenceNumber}"> Licence Nr </span></td>
            <td><span th:text="${user.phoneNumber}"> Phone Nr </span></td>
            <td><a th:href="@{/user/deleteUser(UserId=${user.id})}"
                class="btn btn-danger btn-sm mb-3"
                onclick="if ( !(confirm('Are you sure you want to delete this user?'))) return false">
                Delete this user
            </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>